<div class="home-video-wrapper">
  <%= video_tag "AnimalCrossing.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <h1 class="home">
    <%= link_to "Enter", root_path, class: 'link' %>
  </h1>
</div>
