<div class="home-video-wrapper">
  <%= image_tag "https://i.imgur.com/PPbqnwD.gif", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <h1 class="home">
    <%# <%= link_to(image_tag('enter.png', alt: "welcome image", class: "welcome-link"), frontpage_path) %> %>
    <%= link_to(image_tag('https://i.ibb.co/ZGrfwSq/enter.png', alt: "welcome image", class: "welcome-link"), frontpage_path) %>
  </h1>
</div>
