// Place all the styles related to the orderitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.qty {
  align-items: center;
  justify-items: center;
}

.cart_total {
  // background-image: url('dialogue.png');
  background-image: url('https://i.ibb.co/Tqn1TQ3/dialogue.png');
  background-size: 100%;
  height: 150px;
  width: 450px;
  padding: 20px;
  // display: flex;
  // flex-direction: row-reverse;
  margin-left: 60%;
  margin-bottom: 50px;
}

.total {
  font-size: 40px;
  padding-left: 30%;
  padding-top: 30px;
}

.checkout-btn {
  justify-self: right;
}