// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -2;
}


h1.home {
  color: white;
  padding-left: 50%;
  padding-right: 50%;
  align-self: center;
}

.frontpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  padding-top: 80px;
  width:80%;
  height:auto;
}

.phone_app {
  display: flex;
  align-items: center;
  justify-content: center;
  //  align-items: space-evenly;
  padding-top: 40px;
  padding-left: 10%;
}

.frontpage_feature {
  height: 600px;
  width: 600px;
  padding: 100px;
  margin: 100px;
  background: rgba(131,75,22,0.75);
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontpage_feature_title {
  color: white;
  font-size: 80px;
  position: relative;
  text-align: center;
}

.frontpage_feature_img {
  border-radius: 25px;
  box-sizing: border-box;
}

.download_img {
  height: 50px;
  width: 80px;
  // padding-left: 25px;
}
  
.spotlight {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  height: 500px;
}

.newest_product_spotlight {
  background-color: rgba(84, 212, 252, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 25px;
  // width: 80%;
  padding: 60px;
  padding-top: 40px;
  box-sizing: border-box;
  // margin-left: 40px;
}

.newest_product_spotlight h4 {
  padding: 20px;
}

.new_product_card {
  display: flex;
  flex-direction: row;
}

.new_product {
  background-color: rgba(131,75,22,0.75);
  border-radius: 25px;
  margin-right: 10%;
  border: solid white 5px;
}

.featured_merchant_spotlight {
  background-color: rgba(28, 124, 36, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 25px;
  // width: fit-content;
  padding: 60px;
  padding-top: 40px;
  box-sizing: border-box;
  // width: 80%;
  margin-left: 30px;
}

.featured_merchant_spotlight h4 {
  padding: 20px;
}

.merchant_spotlight_card {
  display: flex;
  flex-direction: row;
}

.merchant_img {
  height: 200px;
  border-radius: 25px;
  margin-right: 20%;
}

.catchphrase {
  font-size: 50px;
  margin-top: 20px;
  padding: 20px;
  background-color:#7a904d;
  border-radius: 25px;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 80vw;
  overflow: scroll;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 25px;
}

.popular_products {
  font-size: 60px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}

.slider_card {
  width: 300px;
  background-color: rgb(255,255,255);
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
}

.slider_img {
  height: 100px;
  width: auto;
  padding-left: 25%;
}

.slider_details {
  display: flex;
  flex-direction: column;
  width: 200px;
  // padding-right: 25px;
  padding-top: 25px;
  text-align: center;
}

.home-video-wrapper {
  height: 100vh;
  display: flex;
}

h1.home {
  color: white;
  padding-left: 50%;
  padding-right: 50%;
  align-self: center;
}
