// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reviews__container {
  padding-top: 25px;
  text-align: center;
  height: 300px;
  // padding: 50px;
}

.yellow-stars {
  color: #fd9b07;
  margin-right: 20px;
}