@font-face {
  font-family: 'Fink Heavy';
  src: url('assets/fonts/FinkHeavy.ttf')
}

.merchant_page {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  align-content: space-between;
  margin-bottom: 100px;
}

.users__index_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  // width: 30%;
}

// Background resource: https://animalcrossingqrdesigns.tumblr.com/post/180286998342/amiibo-card-background

.users__show_container {
  border-radius: 25px;
  margin: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  // background: rgba(131,75,22,0.75);
  background-image: url('https://66.media.tumblr.com/dcd57734b3f15d82e70aa661a10008cc/tumblr_pi7a1r5W3d1ts4uamo1_500.png');
  background-size: 400px auto;
  width: 400px;
  height: 500px;
  padding-top: 50px;
  justify-self: center;
}

.users__show_container h2 {
  font-size: 23px;
}

.user_product-container .show_page {
  margin-top: 0;
  padding-top: 0;
  grid-row-start: 2;
}

.users__index_user-container {
  height: 200px;
  width: 175px;
  border-radius: 25px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  // background: rgba(131,75,22,0.75);
  background-image: url('https://66.media.tumblr.com/dcd57734b3f15d82e70aa661a10008cc/tumblr_pi7a1r5W3d1ts4uamo1_500.png');
  background-size: 175px auto;
}

.user_image {
  padding-top: 30px;
  height: 170px;
}

.user_name {
  line-height: 1.35;
  font-size: 1.5rem;
  padding: 15px 45px;
  font-weight: 700;
  color: white;
  text-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.products__show_container {
  height: 500px;
  width: 40%;
  border-radius: 25%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: rgba(131,75,22,0.75);
  // position: fixed;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;

}

.users__show_detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // justify-content: center;
  text-align: center;
  padding: 15px;
  margin: 30px;
  // margin-bottom: 0;
  background-color: rgba(191, 48, 57, 0.6);
  border-radius: 25px;
}

h2 {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.merchant_dashboard_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard_product_image {
  height: 100px;
  width: 100px;
}

.product_dashboard {
  padding: 30px;
  background-image: url("https://bit.ly/3e99t37");
  margin: 15px;
  border-radius: 25px;
  min-height: 800px;
  margin-bottom: 100px;
}

.table {
  font-size: 16px;
}

.thead {
  background-color: #E1D24D;
}

td, th {
  height: fit-content;
  text-align: center;
}

tr:hover {
  background-image: url("https://bit.ly/2AxPvjE");
  opacity: 60%;
}

.btn-primary {
  background-color: #7a904d;
  border-color: #7a904d;
}

.btn {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
