<section>
  <%= form_with model: @category do |f| %>
    
    <div class="form-group">
      <%= f.label :category_name, class: "form-control-title" %>
      <%= f.text_field :name, class: "form-control-category" %>
    </div>

    <%= f.submit action_name, class: "btn btn-primary" %>

  <% end %>
</section>
