<h4>products#index</h4>
<div class="products__index_container">
  <% @products.each do |product| %>
    <% unless product.photo_url == "NA" %>
    <div class="products__index_product-container item">
      <%= image_tag product.photo_url, alt: "product", class: "products__index_product-img" %>
      
      <div class="products__index_product-info-container">
        <h6><%= link_to "#{product.name}", product_path(product) %></h6>
        <p><%= image_tag "https://i.ibb.co/WcKRmwS/bell.png", alt: "bell", class: "bell-logo" %> <%= product.price %> Bells</p> 
      </div>
      
      <%#= product. => add reveiws %>
    </div>
    <% end %>
  <% end %>
</div>